<div class="container mt-2">
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="home"
      role="tabpanel"
      aria-labelledby="home-tab"
    >
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="row mt-2 d-flex">
          <div class="form-group col-md-6">
            <label for="formGroupExampleInput">Name</label>
            <input
              type="text"
              class="form-control"
              name="Name"
              formControlName="Name"
              id="formGroupExampleInput"
              placeholder="Enter Name"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="formGroupExampleInput2">Mobile no</label>
            <input
              type="text"
              class="form-control"
              name="Mobile"
              formControlName="Mobile"
              id="formGroupExampleInput2"
              placeholder="Enter Mobile no"
            />
          </div>
        </div>
        <div class="row mt-2 d-flex">
          <div class="form-group col-md-6">
            <label for="formGroupExampleInput">Email</label>
            <input
              type="email"
              class="form-control"
              name="Email"
              formControlName="Email"
              id="formGroupExampleInput"
              placeholder="Enter Email"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="formGroupExampleInput2">Age</label>
            <input
              type="number"
              class="form-control"
              name="Age"
              formControlName="Age"
              id="formGroupExampleInput2"
              placeholder="Enter Age"
            />
          </div>
        </div>
        <div class="mt-2 d-flex btns">
          <button
            type="submit"
            class="btn px-4 mx-4 btn btn-outline-primary"
            [disabled]="!userForm.valid"
          >
            {{ buttonText }}
          </button>
          <button type="reset" class="btn px-4 btn btn-outline-secondary">
            Reset
          </button>
        </div>
      </form>
    </div>
    <div
      class="tab-pane fade"
      id="profile"
      role="tabpanel"
      aria-labelledby="profile-tab"
    >
      User List
    </div>
  </div>
</div>
